<h2> Here zou can add a contact:</h2>

<form action='/' method='post'>
  <label for='nickname'> Contact's Nickname:</label>
  <input id='nickname' name='nickname' type='text'>

  <label for='job'> Contact's job:</label>
  <input id='job' name='job' type='text'>

  <label for='city'> Contact's city:</label>
  <input id='city' name='city' type='text'>

  <button type='submit'>Add Contact</button>
</form>
