<h2> Here zou can add a contact:</h2>

<form action='/' method='post'>
  <label for='nickname'> Contact's Nickname:</label>
  <input id='nickname' name='nickname' type='text'>
  <button type='submit'>Add Contact</button>
</form>
