<h1>Add a phone-number:</h1>

<form action="/contacts/phone/" method="post">
  <label for="phone_number">The new phone number:</label>
  <input id='phone_number' name='phone_number' type='number'>

  <input id='contact_id' name='contact_id' type='hidden' value='<%= @contact.contact_id() %>'>


  <button type="submit">Add phone number</button>
</form>
